#header {
	display: flex;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
	height: 5%;
	padding: 56px 0;
	background-color: #fff;
}

.customHeader {
	display: flex;
	justify-content: space-between;
	width: 1280px;
}

.logoImg {
	height: 65.43px;
	width: 163px;
	cursor: pointer;
}

.loginLogoutText {
	font-size: 24px;
	align-self: flex-start;
	background-color: inherit;
}
