body {
	font-family: 'SUIT Variable', sans-serif;
}

.container {
	width: 500px;
	margin: 40px auto;
	padding: 30px;
}

.title {
	text-align: center;
	margin-bottom: 70px;
}

.title img {
	width: 200px;
	height: auto;
}

.toggleContainer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 53px;
	border: 1px solid #c9532f;
	border-bottom: 3px solid #c9532f;
	border-radius: 10px 10px 0px 0px;
	overflow: hidden;
}

.toggleButton {
	flex: 1;
	padding: 20px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 18px;
	transition:
		background-color 0.3s,
		color 0.3s;
	height: 80px;
}

.toggleButton.active {
	background-color: #c9532f;
	color: white;
}

.form {
	display: flex;
	flex-direction: column;
}

.inputLabel {
	text-align: left;
	font-size: 18px;
	color: #000000;
	margin-bottom: 12px;
}

.input {
	height: 70px;
	padding: 18px;
	margin-bottom: 40px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	font-size: 20px;
}

.input::placeholder {
	color: #aaa;
}

.errorMessage {
	color: #c9532f;
	font-size: 16px;
	margin-bottom: 35px;
	display: flex;
	align-items: center;
}

.errorMessage::before {
	content: '⚠';
	margin-right: 8px;
}

.submitButton {
	height: 70px;
	padding: 18px;
	background-color: #c9532f;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 24px;
	transition: background-color 0.3s;
}

.submitButton:hover {
	background-color: #b54600;
}

.message {
	margin-top: 25px;
	text-align: center;
	color: #333;
	font-size: 18px;
}

.footer {
	margin-top: 35px;
	text-align: center;
	font-size: 18px;
}

.footer a {
	color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
	margin: 0 12px;
}

.footer a:hover {
	text-decoration: underline;
}

.footer span {
	color: rgba(0, 0, 0, 0.5);
	margin: 0 12px;
}
