.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.loginContainer {
  width: 100%;
  max-width: 517px;
  display: flex;
  flex-direction: column;
}

.loginBox {
  width: 100%;
}

.title {
  text-align: center;
  color: #C9532F;
  font-size: 24px;
  margin-bottom: 60px;
}

.input {
  width: 100%;
  height: 75px;
  margin-bottom: 33px;
  border: none;
  border-bottom: 1px solid #C9532F;
  font-size: 24px;
  padding-left: 1rem;
  color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  transition: color 0.3s ease;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.input:focus {
  outline: none;
}

.inputWithContent {
  color: black;
}

.googleButton,
.loginButton {
  width: 100%;
  height: 80px;
  padding: 0.75rem;
  border: none;
  border-radius: 20px;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleButton {
  background-color: #FFF9E9;
  color: black;
  border: 1px solid #444444;
  margin-top: 33px;
}

.googleButton img {
  margin-right: 0.5rem;
  width: 24px;
  height: 24px;
}

.loginButton {
  background-color: #C9532F;
  color: white;
}

.error {
  color: #C9532F;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.errorIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.links {
  text-align: center;
  font-size: 24px;
  margin-bottom: 80px;
  margin-top: 60px;
}

.links a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.signup {
  text-align: center;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.signup a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  display: block;
  margin-top: 20px;
}

.links span {
  color: rgba(0, 0, 0, 0.5);
}

@media (max-height: 800px) {
  .loginContainer {
    align-items: flex-start;
    padding-top: 10px; 
  }
}