@import '../../styles/font.css';
@import '../../styles/reset.css';
@import '../../styles/global.css';

/* 레시피 상세 페이지 스타일 시작 */
section.recipeDetailPage {
	font-family: 'SUIT Variable', sans-serif;
	max-width: 1020px;
	margin: auto;
	padding-top: 78px;
}

/* 페이지 타이틀 스타일 시작 */
.recipeDetailPage nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.recipeDetailPage nav img {
	width: 12px;
	height: 21px;
}

.pageTitle {
	font-size: 28px;
}

.pageTitle li:nth-child(2) {
	margin-top: 6px;
}

.pointFont {
	color: var(--main-color);
	font-family: 'Ainmom';
	font-size: 28px;
}

.pageTitle li > em {
	font-family: 'Ainmom';
}

/* 페이지 타이틀 스타일 끝 */

/* 레시피 타이틀 스타일 시작 */
.recipeTitle {
	margin-top: 40px;
}

.recipeTitle h3 {
	font-size: 70px;
}

.recipeTitle ul {
	display: flex;
	justify-content: center;
	gap: 10px;

	margin-top: 30px;
}

.recipeTitle ul li::after {
	content: '';
	display: inline-block;

	width: 1px;
	height: 13px;
	background-color: #000;

	margin-left: 10px;
}

.recipeTitle ul li img {
	margin-right: 5px;
}

.recipeTitle > img {
	width: 560px;
	height: 560px;
	object-fit: cover;

	margin-top: 46px;
}
/* 레시피 타이틀 스타일 끝 */

/* 레시피 쿠킹 정보 스타일 시작 */
.cookingInfo {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.cookingInfo div {
	width: 500px;

	margin-top: 65px;
	border-bottom: 1px solid var(--main-color);
}

.cookingInfo div h4 {
	text-align: left;
}

h4 em::before {
	content: '';
	display: inline-block;
	width: 1px;
	height: 15px;
	background-color: var(--main-color);
	margin-right: 10px;
}

.cookingInfo div p {
	font-size: 40px;
	padding: 30px 190px;
}

/* 레시피 쿠킹 정보 스타일 끝 */
