@import '../../styles/font.css';
@import '../../styles/reset.css';
@import '../../styles/global.css';

/* 레시피 상세 페이지 스타일 시작 */
section.recipeDetailPage {
	font-family: 'SUIT Variable', sans-serif;
	max-width: 1020px;
	margin: auto;
	padding-top: 78px;
}

/* 페이지 타이틀 스타일 시작 */

.navWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.recipeDetailPage nav {
	width: 100%;
	max-width: 1200px;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
}

.udBtn {
	width: 110px;
}
.udBtn button:nth-child(2) {
	margin-top: 10px;
}

.recipeDetailPage nav .imgWrap {
	width: 110px;
	height: 110px;
	align-content: center;
	cursor: pointer;
}

.recipeDetailPage nav img {
	width: 12px;
	height: 21px;
}

.pageTitle {
	margin: auto;
	font-size: 28px;
}

.pageTitle li:nth-child(2) {
	margin-top: 6px;
}

.pointFont {
	color: var(--main-color);
	font-family: 'Ainmom' !important;
	font-size: 28px;
}

.pageTitle li > em {
	font-family: 'Ainmom' !important;
}

/* 페이지 타이틀 스타일 끝 */

/* 레시피 타이틀 스타일 시작 */
.recipeTitle {
	margin-top: 40px;
}

.recipeTitle h3 {
	font-size: 70px;
}

.recipeTitle ul {
	display: flex;
	justify-content: center;
	gap: 10px;

	margin-top: 30px;
}

.recipeTitle ul li:last-child:after {
	content: '';
	display: none;
}

.recipeTitle ul li::after {
	content: '';
	display: inline-block;

	width: 1px;
	height: 13px;
	background-color: #000;

	margin-left: 10px;
}

.recipeDescription {
	font-size: 16px;
	line-height: 30px;
	text-align: center;

	max-width: 960px;
	margin: auto;
	padding-top: 30px;
}

.recipeTitle ul li > img {
	margin-right: 5px;
	max-width: 12px;
	max-height: 12px;
}

.recipeTitle > img {
	width: 560px;
	height: 560px;
	object-fit: cover;

	margin-top: 46px;
}
/* 레시피 타이틀 스타일 끝 */

/* 레시피 쿠킹 정보 스타일 시작 */
.cookingInfo {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.cookingInfo div {
	width: 500px;

	margin-top: 65px;
	border-bottom: 1px solid var(--main-color);
}

.cookingInfo div h4 {
	text-align: left;
}

h4 em::before {
	content: '';
	display: inline-block;
	width: 1px;
	height: 15px;
	background-color: var(--main-color);
	margin-right: 10px;
}

.cookingInfo div p {
	font-size: 40px;
	padding: 30px 100px;
}

/* 레시피 쿠킹 정보 스타일 끝 */

.cookingList {
	margin-top: 100px;
}

/* 레시피 재료 리스트 스타일 시작 */
.cookingIngredientList {
	font-size: 20px;

	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23C9532FFF' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
	border-radius: 10px;
	margin-top: 50px;
	padding: 20px 50px 40px 50px;

	display: flex;
	flex-wrap: wrap;
	gap: 25px;
}

.cookingIngredientList ul {
	margin-top: 20px;
	position: relative;
}

/* 1개의 ul일 때 */
.cookingIngredientList ul:first-child {
	width: 100%;
}

/* 2개의 ul일 때 */
.cookingIngredientList ul:first-child:nth-last-child(2),
.cookingIngredientList ul:first-child:nth-last-child(2) ~ ul {
	width: 48%;
}

/* 3개 이상의 ul일 때 */
.cookingIngredientList ul:first-child:nth-last-child(n + 3),
.cookingIngredientList ul:first-child:nth-last-child(n + 3) ~ ul {
	width: calc(30%);
	margin-right: 10px;
}

.cookingIngredientList ul:first-child:nth-last-child(n + 3) ~ ul:nth-child(3n),
.cookingIngredientList ul:first-child:nth-last-child(n + 3):nth-child(3n) {
	margin-right: 0;
}

.cookingIngredientList ul::before {
	content: '';
	position: absolute;
	left: -26px;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: var(--main-color);
}

/* 첫 번째 ul의 before 막대기 제거 */
.cookingIngredientList ul:first-child::before {
	display: none;
}

/* 4번째 ul의 before 막대기 제거 */
.cookingIngredientList ul:nth-child(4)::before {
	display: none;
}

/* ul이 2개일 때는 두 번째 ul에만 before 막대기 적용 */
.cookingIngredientList ul:first-child:nth-last-child(2) ~ ul::before {
	display: block;
	left: -15px;
}

.cookingIngredientList ul li {
	font-size: 20px;

	display: flex;
	justify-content: space-between;
	word-break: break-all;

	margin-top: 10px;
}

.cookingIngredientList ul li span {
	opacity: 60%;
}
/* 레시피 재료 리스트 스타일 끝 */

/* 레시피 리스트 스타일 시작 */
.cookingList {
	text-align: left;
	margin-top: 50px;
}

.cookingList ol li {
	display: flex;
	align-items: flex-start;
	gap: 20px;
	margin-top: 50px;
}

.cookingList ol li > :first-child {
	flex-shrink: 0;
}

.cookingList ol li div {
	flex-grow: 1;
	font-size: 22px;
	line-height: 60px;
	min-width: 660px;
	margin-top: -5px;

	text-decoration-line: underline;
	text-decoration-color: var(--main-color);
	text-underline-offset: 10px;
	word-wrap: break-word;
}

.cookingList ol li > img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 10px;

	flex-shrink: 0;
}
/* 레시피 리스트 스타일 끝 */

/* 레시피 팁 스타일 시작 */
.recipeTip,
.recipeTag {
	margin-top: 100px;
	text-align: left;
}

.recipeTip h4,
.recipeTag h4 {
	color: var(--main-color);
	font-size: 28px;
}

.recipeTip > div {
	font-size: 18px;
	min-height: 300px;
	border: 1px solid var(--main-color);
	border-radius: 10px;

	padding: 30px;
	margin-top: 16px;
	word-wrap: break-word;
}

.customTag {
	color: #000;
	opacity: 50%;
	background-color: #ffffff;
	padding: 10px 16px;
	font-size: 16px;
	display: inline-block;
	white-space: nowrap;

	margin-top: 20px;
}

/* 레시피 팁 스타일 끝 */

/* 댓글 스타일 시작 */
.comment {
	text-align: left;
	margin-top: 100px;
}

.comment::before {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--main-color);
	margin-bottom: 50px;
}

.comment > h3 {
	color: var(--main-color);
	font-size: 28px;
}

.commentInput {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.commentInput label {
	position: relative;
}

.commentInput label textarea {
	font-size: 18px;
	line-height: 35px;

	width: 860px;
	height: 140px;
	resize: none;
	border: 1px solid var(--main-color);
	border-radius: 10px;

	padding: 30px;
}
.commentInput label textarea:focus {
	border: 1px solid var(--main-color);
}

textarea::-webkit-scrollbar {
	width: 8px;
	margin-right: 5px;
}

textarea::-webkit-scrollbar-thumb {
	background-color: var(--main-color);
	border-radius: 10px;
}

/* 댓글 글자수 제한 카운터 */
.countComment {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: #666;
	background-color: white;
	width: 80px;
	height: 20px;
}

.commentInput label textarea::placeholder {
	font-family: 'SUIT Variable', sans-serif;
}

.commentInput button {
	color: #fff;
	font-size: 24px;

	background-color: var(--main-color);
	border-radius: 10px;
	width: 90px;
	height: 200px;
}
/* 댓글 스타일 끝 */

/* 댓글 리스트 스타일 시작 */
.commentList {
	margin-top: 60px;
	position: relative;
}

.commentWriterInfo {
	font-size: 22px;
	display: flex;
	align-items: flex-end;
}

.commentWriterInfo li:nth-child(2) {
	font-size: 14px;
	opacity: 50%;
	margin-left: 10px;
}

.commentSettingsBtn,
.editingSettingBtn {
	position: absolute;
	right: 0;
	top: -8px;
}

.commentSettingsBtn > *:first-of-type,
.commentSettingsBtn > *:last-of-type,
.editingSettingBtn > *:first-of-type,
.editingSettingBtn > *:last-of-type {
	font-size: 18px;
	width: 72px;
	height: 38px;
	margin-left: 10px;
}

.commentBlock {
	margin-top: 50px;
	position: relative;
}

/* 서버에서 불러온 댓글 */
.commentBlock > p {
	font-size: 18px;
	line-height: 35px;
	margin-top: 20px;
}

/* 댓글이 없을 때 */
.emptyComment {
	opacity: 50%;
	text-align: center;
	align-content: center;
	padding-top: 130px;
}
.emptyComment::after {
	content: '';
	display: block;
	border: 1px solid var(--main-color);
	margin-top: 130px;
}
/* 페이지에서 수정하는 댓글 area */
.commentBlock > textarea {
	font-size: 18px;
	font-family: 'SUIT Variable', sans-serif;

	width: calc(100% - 20px);
	resize: none;
	border: 1px solid var(--main-color);
	border-radius: 10px;

	padding: 10px;
	margin-top: 20px;
}

.commentBlock::after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--main-color);
	margin-top: 30px;
}
/* 댓글 리스트 스타일 끝 */

/* 페이지네이션 스타일 시작 */
.pagination_custom {
	justify-content: center;
	margin-top: 60px;
}
/* 페이지네이션 스타일 끝 */
