/* 따라다니는 좋아요 아이콘 스타일 시작 */
.stickyHeartIcon {
	position: fixed;
	right: 10%;
	bottom: 10%;
}
/* 따라다니는 좋아요 아이콘 스타일 끝 */

/* 모달 스타일 시작 */
.insideModal {
	font-family: 'SUIT Variable', sans-serif;
	font-size: 20px;
	padding: 17px;
}

.heart {
	color: var(--main-color);
}

.heartOff {
	color: #eee;
}
