.recommendCardSection {
	padding-left: 20px;
	margin-top: 30px;
	display: flex;
	gap: 50px;
}

.recommendCardArticle {
	width: 592px;
	height: 470px;
}

.recommendCardImgSection {
	position: relative;
}

.recommendCardImg {
	width: 300px;
	height: 400px;
}

.outerCircle {
	width: 67.89px;
	height: 67.89px;
	background-color: white;
	border-radius: 50%;
	position: absolute; /* 변경: absolute에서 relative로 */
	top: 10px;
	left: 10px;
	display: flex; /* 추가 */
	justify-content: center; /* 추가 */
	align-items: center; /* 추가 */
}

.innerCircle {
	width: 62px; /* 주황색 원의 크기 */
	height: 62px; /* 주황색 원의 크기 */
	background-color: #c9532f; /* 주황색 배경 */
	border-radius: 50%; /* 원 모양 */
	display: flex; /* 추가 */
	justify-content: center; /* 추가 */
	align-items: center; /* 추가 */
	color: white; /* 글자 색상 */
	font-size: 20px;
}

.recommendRecipe {
	display: flex;
	margin-top: 24px;
}

.heartImg {
	width: 20px;
	height: 18px;
	vertical-align: middle;
}

.heartText {
	font-size: 20px;
	vertical-align: middle;
	margin-left: 12px;
}

.recipeName {
	font-size: 20px;
	font-weight: bold;
}

.recipeTags {
	display: flex;
	flex-wrap: wrap;
	max-width: 241px;
	height: 90px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	gap: 5px;
	margin-top: 20px;
}

.customTag {
	border-radius: 30px;
	background-color: #ffffff;
	padding: 10px 16px;
	font-size: 16px;
	display: inline-block; /* 태그의 너비를 자동으로 설정 */
	white-space: nowrap; /* 태그 안에서 줄바꿈 방지 */
	max-width: 120px; /* 태그의 최대 너비 설정 */
}

.recipeDescription {
	margin-left: 30px;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}

.recipeDetailLinkWrapper {
	display: flex;
	justify-content: center;
}

.recipeDetailLinkBtn {
	padding: 9px 67.5px;
	background-color: #fdf8e3;
	font-size: 20px;
}

.heartImgAndText {
	text-align: left;
}

.recipeNameAndIng {
	text-align: left;
}

.loading {
	text-align: center;
	margin: 20px 0;
}

.recommendCardTitle {
	text-align: left;
	font-size: 20px;
}

.userNickname {
	font-family: 'Ainmom';
	font-size: 40px;
	color: #c9532f;
	margin-right: 20px;
}
