#footer {
	background-color: #fff;
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	padding: 20px 0;
}

.footerSection {
	width: 1280px;
}

.footerLinks {
	display: flex;
	justify-content: space-between;
}

.logoGrayImg {
	padding-top: 20px;
}

.logoAndFooterMenu {
	display: flex;
	align-items: center;
	width: 584px;
	justify-content: space-between;
}

.footerMenuText {
	opacity: 60%;
	font-size: 18px;
}

.githubLink {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 342px;
	text-decoration: underline;
}

.footerCopyright {
	text-align: left;
	margin-top: 29.5px;
	opacity: 60%;
}
