/* 컬러 스타일 시작 */
.orange {
	background-color: #c9532f;
	color: white;
}

.white {
	background-color: #fff;
	border: 1px solid #000;
}

.gray {
	background-color: #eee;
}

.ivory {
	background-color: #fff9e9;
}
/* 컬러 스타일 끝 */

/* 사이즈 스타일 시작 */
.large {
	width: 80px;
	height: 80px;
	font-size: 40px;
}

.medium {
	width: 50px;
	height: 50px;
}

.small {
	width: 34px;
	height: 34px;
}
/* 사이즈 스타일 끝 */

/* 모양 스타일 시작 */
.circle {
	border-radius: 50%;
}

.rad10 {
	border-radius: 10px;
}

.rad20 {
	border-radius: 20px;
}

.rad30 {
	border-radius: 30px;
}
/* 모양 스타일 끝 */

/* 타입별 스타일 시작 */
.searchBtn {
	display: block;
	font-size: 18px;
	height: 48px;
	width: 100px;
}

.shareBtn {
	display: block;
	font-size: 16px;
	width: 280px;
	height: 50px;
	margin: auto;
	padding: 7.5px 68.5px;
}

.editBtn {
	font-size: 20px;
	width: 110px;
	height: 50px;
}

.menuBtn {
	position: fixed;
	bottom: 45px;
	right: 100px;
}

.plusBtn {
	font-size: 28px;
	color: #fff9e9;
}

.backBtn {
	width: 226px;
	height: 70px;
	font-size: 24px;
}

.filterBtn {
	padding: 8px 20px;
	font-size: 20px;
}

.moveBtn {
}
/* 타입별 스타일 끝 */
