/* import styles from './CustomButton.module.css';

enum ButtonType {
	Search = 'search',
	Plus = 'plus',
	Login = 'login',
	Signup = 'signup',
	Edit = 'edit',
	Delete = 'delete',
	Save = 'save',
	Level = 'level',
}

interface ButtonProps {
	btnType: ButtonType;
	size?: 'small' | 'medium' | 'large';
	color?: 'orange' | 'gray' | 'white' | 'ivory';
	shape?: 'circle' | 'rad10' | 'rad20' | 'rad30';
	onClick?: () => void;
}

const CustomButton = ({
	btnType,
	size,
	color,
	shape,
	onClick,
}: ButtonProps) => {
	const buttonStyles: Record<ButtonType, string> = {
		[ButtonType.Search]: styles.searchBtn,
		[ButtonType.Plus]: styles.addBtn,
		[ButtonType.Login]: styles.loginBtn,
		[ButtonType.Signup]: styles.signupBtn,
		[ButtonType.Edit]: styles.editBtn,
		[ButtonType.Delete]: styles.deleteBtn,
		[ButtonType.Save]: styles.saveBtn,
		[ButtonType.Level]: styles.levelBtn,
	};

	// size가 undefined일 경우에 빈 문자열 반환
	const sizeClass = size ? styles[size] : '';

	// color가 undefined일 경우에 빈 문자열 반환
	const colorClass = color ? styles[color] : '';

	// shape가 undefined일 경우에 빈 문자열 반환
	const shapeClass = shape ? styles[shape] : '';

	return (
		<button
			className={`${buttonStyles[btnType]} ${sizeClass} ${colorClass} ${shapeClass}`}
			onClick={onClick}
		></button>
	);
};

export default CustomButton; */

.circle {
	border-radius: 50%;
}

/* 컬러 스타일 시작 */
.orange {
	background-color: #c9532f;
	color: white;
}

.white {
	background-color: #fff;
	border: 1px solid #000;
}

.gray {
	background-color: #eee;
}

.ivory {
	background-color: #fff9e9;
}
/* 컬러 스타일 끝 */

/* 사이즈 스타일 시작 */
.large {
	width: 80px;
	height: 80px;
	font-size: 40px;
}

.medium {
	width: 50px;
	height: 50px;
}

.small {
	width: 30px;
	height: 30px;
}
/* 사이즈 스타일 끝 */

/* 래디언스 스타일 시작 */
.rad10 {
	border-radius: 10px;
}

.rad20 {
	border-radius: 20px;
}

.rad30 {
	border-radius: 30px;
}
/* 래디언스 스타일 끝 */

/* 타입별 스타일 시작 */
.editBtn {
	font-size: 20px;
	width: 110px;
	height: 50px;
}

.levelBtn {
	font-size: 20px;
	font-weight: 800;
	font-family: 'SUIT Variable', sans-serif;
}
/* 타입별 스타일 끝 */
